<h1 mat-dialog-title  class="dialog-title">Atelier Details</h1>
<div mat-dialog-content class="product-details">

  <div class="product-info">

    <!-- Identification -->
    <div class="product-row">
      <span class="label">Numéro Atelier:</span> <span class="value">{{data?.workshopNumber}}</span>
    </div>
    <div class="product-row">
      <span class="label">Capacité:</span> <span class="value">{{data?.productionCapacity}}</span>
    </div>
    <div class="product-row">
      <span class="label">Nombre de Machine:</span> <span class="value">{{data?.machineCount}}</span>
    </div>
    <div class="product-row">
        <span class="label">Coût Machine: </span> <span class="value">{{data?.machineCost}}</span>
      </div>
     
   

  </div>
</div>

<!-- Dialog actions -->
<div mat-dialog-actions class="action-row" >
  <button mat-button (click)="onEdit()">Modifier</button>
  <button mat-button (click)="onClose()">Fermer</button>
</div>
