<h1 mat-dialog-title class="dialog-title">{{data ? 'Modifier la commande' : 'Ajouter une Nouvelle commande'}}</h1>

<mat-dialog-content class="dialog-content">
  <!-- Bind formGroup to the form -->
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-grid" enctype="multipart/form-data">
    
    <div class="row">
      <!-- First Column: Form Fields -->
      <div class="col-12 col-lg-6">
        <!-- Client Selection -->
        <div class="col-12 col-md-6"> 
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Client</mat-label>
            <mat-select placeholder="Sélectionnez un Client" formControlName="clientId">
              <mat-option *ngFor="let client of clients" [value]="client.idClient">
                {{ client.fullName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Product Selection -->
        <div class="col-12 col-md-6"> 
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>Produit</mat-label>
            <mat-select placeholder="Sélectionnez un produit" formControlName="productId">
              <mat-option *ngFor="let product of products" [value]="product.id">
                {{ product.reference }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Date Commande -->
        <mat-form-field class="w-100" appearance="fill">
          <mat-label>Date Commande</mat-label>
          <input matInput [matDatepicker]="picker1" formControlName="dateCommande" placeholder="Choisissez une date">
          <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
          <mat-datepicker #picker1></mat-datepicker>
        </mat-form-field>

        <!-- Quantité -->
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Quantité</mat-label>
          <input matInput type="number" formControlName="quantity" required>
        </mat-form-field>
      </div>
    </div>

    <!-- Dialog Actions -->
    <div mat-dialog-actions class="action-row full-width">
      <button mat-button mat-dialog-close class="btn-cancel">Annuler</button>
      <button mat-button type="submit" color="primary" class="btn-submit">{{data ? 'Modifier' : 'Ajouter'}}</button>
    </div>
  </form>
</mat-dialog-content>
