<h1 mat-dialog-title class="dialog-title">{{data?.designation || 'Produit'}}</h1>
<div mat-dialog-content class="product-details">
  <!-- Product Image -->
  <div class="product-image">
    <img [src]="'data:' + data.logoType + ';base64,' + data.logo" width="250" />
  </div>
  <!-- Product Info -->
  <div class="product-info">
    <!-- Identification -->
    <div class="product-row">
      <span class="label">Référence:</span> <span class="value">{{data?.reference}}</span>
    </div>
    <div class="product-row">
      <span class="label">Nom:</span> <span class="value">{{data?.designation}}</span>
    </div>
    <div class="product-row">
      <span class="label">Catégorie:</span> <span class="value">{{data?.subCategory?.name || 'N/A'}}</span>
    </div>
    <div class="product-row">
      <span class="label">Désignation:</span> <span class="value">{{data?.designation}}</span>
    </div>

    <!-- Physical Attributes -->
    <div class="product-row">
      <span class="label">Couleur:</span> <span class="value">{{data?.color || 'N/A'}}</span>
    </div>
    <div class="product-row">
      <span class="label">Poids:</span> <span class="value">{{data?.weight}} g</span>
    </div>
    <div class="product-row">
      <span class="label">Dimensions:</span> <span class="value">{{data?.dimension}} cm</span>
    </div>

    <!-- Production Information -->
    <div class="product-row">
      <span class="label">Temps de fabrication:</span> <span class="value">{{data?.productionDuration}} heures</span>
    </div>

    <!-- Price and Quantity -->
    <div class="product-row">
      <span class="label">Prix:</span> <span class="value">{{data?.price}} TND</span>
    </div>
    <div class="product-row">
      <span class="label">Quantité:</span> <span class="value">{{data?.quantity}} pièces en stock</span>
    </div>
  </div>
</div>

<!-- Dialog actions -->
<div mat-dialog-actions class="action-row">
  <button mat-button (click)="onDownload(data?.id)">Imprimer</button>
  <button mat-button (click)="onEdit()">Modifier</button>
  <button mat-button (click)="onClose()">Fermer</button>
</div>
