<h1 mat-dialog-title class="dialog-title">{{data ? 'Modifier l\'Article' : 'Ajouter un Nouvel Article'}}</h1>

<mat-dialog-content class="dialog-content">
  <!-- Bind formGroup to the form -->
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-grid" enctype="multipart/form-data">

    <!-- Image Upload Section -->
    <div class="form-field full-width image-upload">
      <label for="image-upload">Télécharger l'image</label>
      <button mat-raised-button color="primary" type="button" (click)="triggerFileInput()">Choisir une Image</button>
      <input id="image-upload" type="file" (change)="onImageSelected($event)" accept="image/*" hidden>

      <!-- Display image preview or existing image with delete option -->
      <div *ngIf="imagePreview || data?.logo" class="image-preview">
        <img *ngIf="imagePreview" [src]="imagePreview" alt="Aperçu de l'image" />
        <img *ngIf="!imagePreview && data?.logo && data.logoType" 
             [src]="'data:' + data.logoType + ';base64,' + data.logo" alt="Aperçu de l'image" />
        <button mat-icon-button color="warn" class="delete-icon" (click)="deleteImage()">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <!-- Form Fields -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Référence</mat-label>
      <input matInput type="text" formControlName="reference" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Désignation</mat-label>
      <input matInput type="text" formControlName="designation" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field" >
      <mat-label>Sous-Category</mat-label>
      <mat-select placeholder="Sélectionnez un produit" formControlName="subCategory" required>
        <mat-option *ngFor="let product of Subcategorie" [value]="product.idSubCategory">
          {{ product.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Matière première</mat-label>
      <input matInput type="text" formControlName="rawMaterial" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Couleur</mat-label>
      <input matInput type="text" formControlName="color" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Poids (g)</mat-label>
      <input matInput type="number" formControlName="weight" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Dimensions</mat-label>
      <input matInput type="text" formControlName="dimensions" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Durée de Fabrication (heures)</mat-label>
      <input matInput type="text" formControlName="productionTime" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Prix (TND)</mat-label>
      <input matInput type="number" formControlName="price" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Quantité</mat-label>
      <input matInput type="number" formControlName="quantity" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Coût de Production (TND)</mat-label>
      <input matInput type="number" formControlName="productionCost" required>
    </mat-form-field>

    <!-- Dialog Actions -->
    <div mat-dialog-actions class="action-row full-width">
      <button mat-button mat-dialog-close class="btn-cancel">Annuler</button>
      <button mat-button type="submit" color="primary" class="btn-submit">{{data ? 'Modifier' : 'Ajouter'}}</button>
    </div>
  </form>
</mat-dialog-content>
