<h2 mat-dialog-title>Dechet Information</h2>

<mat-dialog-content>
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="fill">
      <mat-label>Dechet</mat-label>
      <input matInput formControlName="waste" placeholder="Enter dechet" required>
      <mat-error *ngIf="formGroup.get('waste')?.hasError('required')">
        Dechet is required
      </mat-error>
    </mat-form-field>

    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancel</button>
      <button mat-button type="submit" color="primary">Submit</button>
    </div>
  </form>
</mat-dialog-content>
