<aside class="sidebar-wrapper mat-elevation-z9" [ngClass]="{'mini-sidebar' : getSideBarSate()}">
  <div class="sidebar-header">
    <img src="\assets\images\app\gPRO.png" width="30">
    <div class="logo-name">GPRO</div>
  </div>
  <nav class="sidebar-menu">

    <mat-accordion class="example-headers-align" multi>
      
      <!-- Commerce Section (Visible for Responsable Financier) -->
      <mat-expansion-panel *ngIf="role === 'responsable-financier'|| role === 'administrator'" expanded="false" [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon class="material-icons-outlined">dashboard</mat-icon>Commerce
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="tables/table-produit"><mat-icon>arrow_right</mat-icon>produit</a>
          <a mat-list-item routerLink="tables/Sous-categorie"><mat-icon>arrow_right</mat-icon>sous-categorie</a>
          <a mat-list-item routerLink="tables/table-client"><mat-icon>arrow_right</mat-icon>client</a>
          <a mat-list-item routerLink="tables/table-commande"><mat-icon>arrow_right</mat-icon>commande</a>

        </mat-nav-list>
      </mat-expansion-panel>

      <!-- Financier Analysis Section (Visible for Responsable Financier) -->
      <mat-expansion-panel *ngIf="role === 'responsable-financier'|| role === 'administrator'" expanded="false" [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon class="material-icons-outlined">money</mat-icon>Analyse Financier
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="dashboard/analytics"><mat-icon>arrow_right</mat-icon>Analyse Financier</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <!-- Production Section (Visible for Responsable Production) -->
      <mat-expansion-panel *ngIf="role === 'responsable-production'|| role === 'administrator'" expanded="false" [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon class="material-icons-outlined">build</mat-icon>Production
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="tables/table-atelier"><mat-icon>arrow_right</mat-icon>Atelier</a>
          <a mat-list-item routerLink="tables/table-Matiere-Premier"><mat-icon>arrow_right</mat-icon>Matière Première</a>
          <a mat-list-item routerLink="pricing/pricing"><mat-icon>arrow_right</mat-icon>Planning</a>
          <a mat-list-item routerLink="components/cards"><mat-icon>arrow_right</mat-icon>suivi production</a>

        </mat-nav-list>
      </mat-expansion-panel>

      <!-- Production Analysis Section (Visible for Responsable Production) -->
      <mat-expansion-panel *ngIf="role === 'responsable-production'|| role === 'administrator'" expanded="false" [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon class="material-icons-outlined">analytics</mat-icon>Analyse Production
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="charts/apex-chart"><mat-icon>arrow_right</mat-icon>Analyse Production</a>
        </mat-nav-list>
      </mat-expansion-panel>

      <mat-expansion-panel *ngIf="role === 'administrator'" expanded="false" [class.mat-elevation-z0]="true">
        <mat-expansion-panel-header>
          <mat-icon class="material-icons-outlined">analytics</mat-icon>Responsables
        </mat-expansion-panel-header>
        <mat-nav-list>
          <a mat-list-item routerLink="tables/table-Responsable"><mat-icon>arrow_right</mat-icon>Responsables</a>
        </mat-nav-list>
      </mat-expansion-panel>

    </mat-accordion>

  </nav>
</aside>
