<aside class="sidebar-wrapper mat-elevation-z9" [ngClass]="{'mini-sidebar' : getSideBarSate()}">
  <div class="sidebar-header">
      <img src="\assets\images\app\gPRO.png" width="30">
      <div class="logo-name">GPRO</div>
  </div>
  <nav class="sidebar-menu">

    <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-icon class="material-icons-outlined">dashboard</mat-icon>Commerce
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="tables/sorting-table"><mat-icon>arrow_right</mat-icon>produit</a>
            <a mat-list-item routerLink="tables/sorting-table"><mat-icon>arrow_right</mat-icon>categorie</a>
            <a mat-list-item routerLink="tables/sorting-table"><mat-icon>arrow_right</mat-icon>client</a>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-icon class="material-icons-outlined">dashboard</mat-icon>production
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="pricing/pricing"><mat-icon>arrow_right</mat-icon>planning production</a>
            <a mat-list-item routerLink="components/cards"><mat-icon>arrow_right</mat-icon>suivi production</a>
            
          </mat-nav-list>
        </mat-expansion-panel>
      
        <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-icon class="material-icons-outlined">redeem</mat-icon>analyse
          </mat-expansion-panel-header>
          <mat-nav-list>
            <a mat-list-item routerLink="dashboard/analytics"><mat-icon>arrow_right</mat-icon>analyse financier</a>
            <a mat-list-item routerLink="charts/apex-chart"><mat-icon>arrow_right</mat-icon>analyse production</a>
          </mat-nav-list>
        </mat-expansion-panel>
      
        
       
        
        
        <mat-nav-list>
          <a mat-list-item routerLink="profile/user-profile"><mat-icon class="material-icons-outlined">account_circle</mat-icon>User Profile</a>
        </mat-nav-list>
        
        
        <mat-nav-list>
          <a mat-list-item routerLink="faq/faq"><mat-icon class="material-icons-outlined">help_outline</mat-icon>FAQ</a>
        </mat-nav-list>
      
        
   
      </mat-accordion>
    
  </nav>
</aside>
