<mat-card>
  <mat-card-content>
    <form [formGroup]="formGroup"> <!-- Add formGroup here -->
      <div class="row">
        <!-- First Container: Form -->
        <div class="col-12 col-lg-6">
          <h5 class="mb-3">Planning Production</h5>
          <div class="row g-3">
            <!-- Date -->
            <div class="col-12 col-md-6">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Date</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="Choisissez une date" formControlName="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
              </mat-form-field>
            </div>

            <!-- Product -->
            <div class="col-12 col-md-6">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Produit</mat-label>
                <mat-select placeholder="Sélectionnez un produit" formControlName="productId">
                  <mat-option *ngFor="let product of products" [value]="product.id">
                    {{ product.reference }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Quantity -->
            <div class="col-12 col-md-6">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Quantité</mat-label>
                <mat-select placeholder="Sélectionnez une quantité" formControlName="quantity" type="number" min="1">
                  <mat-option value="20">20</mat-option>
                  <mat-option value="30">30</mat-option>
                  <mat-option value="40">40</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <!-- Duration -->
            <div class="col-12 col-md-12">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Durée en heures</mat-label>
                <input matInput placeholder="Ex. 02:30" formControlName="duration" type="text" >
              
              </mat-form-field>
            </div>

            <!-- Workshop -->
            <div class="col-12 col-md-6">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Atelier</mat-label>
                <mat-select placeholder="Sélectionnez un atelier" formControlName="workshopId">
                  <mat-option *ngFor="let workshop of workshops" [value]="workshop.idWorkshop">
                    {{ workshop.workshopNumber }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <!-- Workforce -->
            <div class="col-12 col-md-3">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Effectif</mat-label>
                <input matInput placeholder="Effectif" formControlName="workforce">
              </mat-form-field>
            </div>

            <!-- Comment -->
            <div class="col-12 col-md-12">
              <mat-form-field class="w-100" appearance="fill">
                <mat-label>Commentaire</mat-label>
                <textarea matInput placeholder="Ajoutez un commentaire" formControlName="comment"></textarea>
              </mat-form-field>
            </div>

            <div class="col-12 col-md-12">
              <mat-checkbox class="example-margin" formControlName="checkbox">Check me out</mat-checkbox>
            </div>
            <div class="col-12 col-md-12">
              <div class="d-flex gap-3">
                <button mat-flat-button color="primary" class="px-4" (click)="onSubmit()">Submit</button>
                <button mat-stroked-button class="px-4" (click)="onReset()">Reset</button>
              </div>
            </div>          
          </div><!--end row-->
        </div>
        
        <!-- Second Container: Product Image or Placeholder Text -->
        <div class="col-12 col-lg-6 d-flex justify-content-center align-items-center">
          <div class="product-display">
            <ng-container *ngIf="getSelectedProductDetails() as product">
              <ng-container *ngIf="product.logoType && product.logo; else noImage">
                <img 
                  [src]="'data:' + product.logoType + ';base64,' + product.logo" 
                  [alt]="product.logoName || 'Product Image'" width="80" />
              </ng-container>
              <ng-template #noImage>
                <p>No image available for this product</p>
              </ng-template>
            </ng-container>
          </div>
        </div>
      </div>
    </form>  <!-- End of form -->
  </mat-card-content>
</mat-card>
