<h1 mat-dialog-title class="dialog-title">{{data ? 'Modifier la Matiére Premiére' : 'Ajouter une Nouvelle Matiére Premiére'}}</h1>

<mat-dialog-content class="dialog-content">
  <!-- Bind formGroup to the form -->
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-grid" enctype="multipart/form-data">

    <!-- Image Upload Section -->
   
    <!-- Form Fields -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Nom</mat-label>
      <input matInput type="text" formControlName="Nom" required>
    </mat-form-field>


    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Type de Matiére</mat-label>
      <input matInput type="text" formControlName="TypeMatiere" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Prix unitaire</mat-label>
      <input matInput type="number" formControlName="PrixUni" required>
    </mat-form-field>
 
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Origine</mat-label>
        <input matInput type="text" formControlName="Origine" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Couleur</mat-label>
        <input matInput type="text" formControlName="Couleur" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Unité</mat-label>
        <input matInput type="text" formControlName="unite" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Quantité Disponible</mat-label>
        <input matInput type="number" formControlName="QuantiteDispo" required>
      </mat-form-field>
      <mat-form-field appearance="fill" class="form-field">
        <mat-label>Fournisseur</mat-label>
        <input matInput type="text" formControlName="Fournisseur" required>
      </mat-form-field>

      
      
    <div mat-dialog-actions class="action-row full-width">
      <button mat-button mat-dialog-close class="btn-cancel">Annuler</button>
      <button mat-button type="submit" color="primary" class="btn-submit">{{data ? 'Modifier' : 'Ajouter'}}</button>
    </div>
  </form>
</mat-dialog-content>
