
<h1 mat-dialog-title  class="dialog-title">Client Details</h1>
<div mat-dialog-content class="product-details">

  <div class="product-info">

    <!-- Identification -->
   
    <div class="product-row">
      <span class="label">Nom:</span> <span class="value">{{data?.fullName}}</span>
    </div>
     <div class="product-row">
      <span class="label">TypeClient:</span> <span class="value">{{data?.clientType}}</span>
    </div>
    <div class="product-row">
      <span class="label">E-mail:</span> <span class="value">{{data?.email}}</span>
    </div>
    <div class="product-row">
        <span class="label">Adresse:</span> <span class="value">{{data?.address}}</span>
      </div>
      <div class="product-row">
        <span class="label">téléphone:</span> <span class="value">{{data?.telephone}}</span>
      </div>
     
   

  </div>
</div>

<!-- Dialog actions -->
<div mat-dialog-actions class="action-row">
  <button mat-button (click)="onDownload(data?.id)">Imprimer</button>
  <button mat-button (click)="onEdit()">Modifier</button>
  <button mat-button (click)="onClose()">Fermer</button>
</div>
