<h1 mat-dialog-title  class="dialog-title">Matiére Premiére Details</h1>
<div mat-dialog-content class="product-details">

  <div class="product-info">

    <!-- Identification -->
    <div class="product-row">
      <span class="label">Nom:</span> <span class="value">{{data?.name}}</span>
    </div>
    <div class="product-row">
      <span class="label">Type de Matiére:</span> <span class="value">{{data?.materialType}}</span>
    </div>
    <div class="product-row">
        <span class="label">Prix unitaire: </span> <span class="value">{{data?.unitPrice}}</span>
      </div>
      <div class="product-row">
        <span class="label">Origine:</span> <span class="value">{{data?.origin}}</span>
      </div>
      <div class="product-row">
        <span class="label">couleur: </span> <span class="value">{{data?.color}}</span>
      </div>
      <div class="product-row">
        <span class="label">unité:</span> <span class="value">{{data?.unit}}</span>
      </div>
      <div class="product-row">
        <span class="label">Quantité Disponible:</span> <span class="value">{{data?.availableQuantity}}</span>
      </div>
      <div class="product-row">
        <span class="label">Fournisseur:</span> <span class="value">{{data?.supplier}}</span>
      </div>
   

  </div>
</div>

<!-- Dialog actions -->
<div mat-dialog-actions class="action-row">
  <button mat-button (click)="onEdit()">Modifier</button>
  <button mat-button (click)="onClose()">Fermer</button>
</div>
