<p class="mb-0">Suivi des Tâches</p>
<hr>

<div class="row">
  <!-- En Cours Section -->
  <div class="col-12 col-md-6">
    <h3>En Cours</h3>
    <div class="row row-cols-1 row-cols-lg-1 g-3">
      <!-- Loop through inProgressPlans array and display each plan -->
      <div class="col" *ngFor="let plan of inProgressPlans">
        <mat-card class="example-card card-hover">
          <mat-card-header>
            <mat-card-title>{{ plan.productName }}</mat-card-title>
            <mat-card-subtitle>{{ plan.productType }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/app/gPRO.png" alt="Photo of {{ plan.productName }}" class="card-image">
          <mat-card-content class="p-4">
            <p>
              Produit : {{ plan.productName }} <br>
              Quantité : {{ plan.quantity }} <br>
              Durée : {{ plan.duration }} heures <br>
              Effectif : {{ plan.workforce }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button>Éditer</button>
            <button mat-button>Supprimer</button>
            <div class="card-label mat-light-bg-red">
              <p class="text-red">En Cours</p>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>

  <!-- Terminé Section -->
  <div class="col-12 col-md-6">
    <h3>Terminé</h3>
    <div class="row row-cols-1 row-cols-lg-1 g-3">
      <!-- Loop through completedPlans array and display each plan -->
      <div class="col" *ngFor="let plan of completedPlans">
        <mat-card class="example-card card-hover">
          <mat-card-header>
            <mat-card-title>{{ plan.productName }}</mat-card-title>
            <mat-card-subtitle>{{ plan.productType }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image src="assets/images/app/gPRO.png" alt="Photo of {{ plan.productName }}" class="card-image">
          <mat-card-content class="p-4">
            <p>
              Produit : {{ plan.productName }} <br>
              Quantité supposée : {{ plan.quantity }} <br>
              Durée : {{ plan.duration }} heures <br>
              Effectif : {{ plan.workforce }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button (click)="onConfirm()">Confirmer</button>
            <button mat-button>Supprimer</button>
            <div class="card-label mat-light-bg-green">
              <p class="text-green">Terminé</p>
            </div>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
