<h1 mat-dialog-title  class="dialog-title">commande Details</h1>
<div mat-dialog-content class="product-details">

  <div class="product-info">

    <!-- Identification -->
    <div class="product-row">
      <span class="label">Client:</span> <span class="value">{{data?.clientName}}</span>
    </div>
    <div class="product-row">
      <span class="label">Produit:</span> <span class="value">{{data?.productName}}</span>
    </div>
    <div class="product-row">
      <span class="label">Date Commande:</span> <span class="value">{{data?.date}}</span>
    </div>
    <div class="product-row">
        <span class="label">Quantité:</span> <span class="value">{{data?.quantity}}</span>
      </div>
    
   

  </div>
</div>

<!-- Dialog actions -->
<div mat-dialog-actions class="action-row">
  <button mat-button (click)="onEdit()">Modifier</button>
  <button mat-button (click)="onClose()">Fermer</button>
</div>
