table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .button-container {
    display: flex;
    justify-content: flex-end; /* Right-align the button */
    margin-bottom: 20px; /* Add some space below the button */
  }
  
  
  