<h1 mat-dialog-title class="dialog-title">{{data ? 'Modifier un client' : 'Ajouter un Nouveau client'}}</h1>

<mat-dialog-content class="dialog-content">
  <!-- Bind formGroup to the form -->
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()" class="form-grid" >

    <!-- Image Upload Section -->
   
    <!-- Form Fields -->
    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Nom</mat-label>
      <input matInput type="text" formControlName="Nom" required>
    </mat-form-field>


    <mat-form-field appearance="fill" class="form-field">
      <mat-label>Type Client</mat-label>
      <input matInput type="text" formControlName="TypeClient" required>
    </mat-form-field>

    <mat-form-field appearance="fill" class="form-field">
      <mat-label>E-mail</mat-label>
      <input matInput type="text" formControlName="Email" required>
    </mat-form-field>
 
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Adresse</mat-label>
        <input matInput type="text" formControlName="Adresse" required>
      </mat-form-field>

      <mat-form-field appearance="fill" class="form-field">
        <mat-label>téléphone</mat-label>
        <input matInput type="text" formControlName="telephone" required pattern="[0-9]{8,15}">
      </mat-form-field>
      
    <div mat-dialog-actions class="action-row full-width">
      <button mat-button mat-dialog-close class="btn-cancel">Annuler</button>
      <button mat-button type="submit" color="primary" class="btn-submit">{{data ? 'Modifier' : 'Ajouter'}}</button>
    </div>
  </form>
</mat-dialog-content>
